nav{
    top: 0;
    width: 100%;
    height: 75px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
}

.logo{
    width: 70px;
    height: 70px;
}

.options{
    width: 100%;
    margin-top: 0;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-size: large;
    color: rgba(6, 234, 255, 0.886);
}

.options li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 70px;
}

.options li:hover{
    background-color: rgba(170, 22, 170, 0.216);
    color: white;
    cursor: pointer;
}

.slct-categorias{
    color: rgba(6, 234, 255, 0.886);
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
    font-size: medium;
    color: rgba(6, 234, 255, 0.886);
    
}

.slct-categorias option{
    background-color: rgba(170, 22, 170, 0.216);
    border: none;
}



.fondo{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgb(118, 16, 173);
    width: 100%;
    height: 100vh;
}